<section>
  <h2>Акции</h2>
  <div>
    <p>Все акции</p>
    <img src="../../assets/image/svg/arrow.svg" alt="pohuy" />
  </div>
  <ul>
    <!-- Тут начинается первая картинка -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
        <p>-50%</p>
      </div>
      <div>
        <p>44,50 ₽</p>
        <p>С картой</p>
        <p>50,50 ₽</p>
        <p>Обычная</p>
        <h3>Г/Ц Блинчики с мясом вес, Россия</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Тут заканчивается первая картинка и начинается вторая -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
        <p>-50%</p>
      </div>
      <div>
        <p>44,50 ₽</p>
        <p>С картой</p>
        <p>50,50 ₽</p>
        <p>Обычная</p>
        <h3>Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Тут закончилась вторая картинка и должна начаться третья -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
        <p>-50%</p>
      </div>
      <div>
        <p>44,50 ₽</p>
        <p>С картой</p>
        <p>50,50 ₽</p>
        <p>Обычная</p>
        <h3>Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тоскан...</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Тут заканчивается третья картинка и начинается четвертая -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
        <p>-50%</p>
      </div>
      <div>
        <p>44,50 ₽</p>
        <p>С картой</p>
        <p>50,50 ₽</p>
        <p>Обычная</p>
        <h3>Сосиски вареные МЯСНАЯ ИСТОРИЯ Молочные и С сыро...</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Тут заканчивается четвертая картинка -->
  </ul>
</section>
<!-- Ща начнется секция Новинки -->
<section>
  <h2>Новинки</h2>
  <div>
    <p>Все новинки</p>
    <img src="../../assets/image/svg/arrow.svg" alt="pohuy" />
  </div>
  <ul>
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
      </div>
      <div>
        <p>599,99 ₽</p>
        <h3>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Тут заканчивается первая картинка и начинается вторая -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
      </div>
      <div>
        <p>44,50 ₽</p>
        <h3>Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тоскан...</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Тут заканчивается вторая и начинается третья картинка -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
      </div>
      <div>
        <p>44,50 ₽</p>
        <h3>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Заканчивается третья картинка и начинается четвертая -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
      </div>
      <div>
        <p>44,50 ₽</p>
        <h3>Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
  </ul>
</section>
<!-- Тут закончится секция Новинки -->
<!-- Начинается секция Покупали раньше-->
<section>
  <h2>Покупали раньше</h2>
  <div>
    <p>Все покупки</p>
    <img src="../../assets/image/svg/arrow.svg" alt="pohuy" />
  </div>
  <ul>
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
      </div>
      <div>
        <p>77,99 ₽</p>
        <h3>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Сделал первую картинку и начинается вторая -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
      </div>
      <div>
        <p>159,99 ₽</p>
        <h3>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Закончилась вторая и начинается третья -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
      </div>
      <div>
        <p>599,99 ₽</p>
        <h3>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
    <!-- Сделал третью картинку и начал четвертую -->
    <li>
      <div>
        <div>
          <img src="../../assets/image/svg/favorites.svg" alt="ura" />
        </div>
      </div>
      <div>
        <p>49,39 ₽</p>
        <h3>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h3>
        <ul>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
          <li>
            <img src="../../assets/image/svg/star.svg" alt="you" />
          </li>
        </ul>
        <button>В корзину</button>
      </div>
    </li>
  </ul>
</section>
<!-- Заканчивается секция Покупали раньше -->
