<a href="#" class="header__logo"
><img src="../../assets/image/svg/logo.svg" alt="" />
<p>СЕВЕРЯНОЧКА</p>
</a>

<div class="header__search">
<a href="" class="header__catalog">
  <img src="../../assets/image/svg/menu.svg" alt="" />
  <p>Каталог</p>
</a>

<input type="text" placeholder="Найти товар" />
</div>

<div class="header__alexnav">
<nav>
  <ul class="header__nav">
    <li>
      <img src="../../assets/image/svg//favorites.svg" alt="" />
      <p>Избранное</p>
    </li>
    <li>
      <img src="../../assets/image/svg/order.svg" alt="" />
      <p>Заказы</p>
    </li>
    <li>
      <img src="../../assets/image/svg/bascet.svg" alt="" />
      <p>Корзина</p>
    </li>
  </ul>
</nav>
<div class="header__alex">
  <img src="../../assets/image/jpeg/avatar.jpg" alt="1" />
  <p>Алексей</p>
</div>
</div>