<h2>Наши магазины</h2>
        <ul>
          <li>
            <input type="radio" name="0" id="1" />
            <label for="1">п.Щельяюр</label>
          </li>
          <li>
            <input type="radio" name="0" id="2" /><label for="2"
              >д.Вертеп</label
            >
          </li>
          <li>
            <input type="radio" name="0" id="3" /><label for="3"
              >с.Краснобор</label
            >
          </li>
          <li>
            <input type="radio" name="0" id="4" /><label for="4">д.Диюр</label>
          </li>
        </ul>
        <!-- Дальше должна быть карта -->
        <div></div>
        <!-- Карта закончилась -->